body {
  background-color: #66cccc;
  color: white;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  align: center;
  font-size: 50px;
}
