body {
  background-color: #cccc66;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  margin: 0px;
}
