html {
  height: 100%;
  overflow: hidden;
}

/*verious backgrounds*/
/*home bg*/
body {
  background-color: #cccccc;
  background-image: url("/mainbg1080.jpg"), url("/mainbg1080_180rotate.jpg");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: right top, left bottom;
  background-size: auto 120%, auto 120%;
  color: #333366;
  font-family: "Garamond", serif;
  margin: 0;
}

body#no-background {
  background-image: none;
}

/* hidden side tab nav, popout on large screens */
#sidenav a {
  position: fixed;
  right: -100px;
  transition: 0.3s;
  padding: 0 0 2px 20px;
  width: 100px;
  text-decoration: none;
  color: #333366;
  border-radius: 5px 0 0 0;
}

#sidenav a:hover {
  right: 0;
}

/*children of nav*/
nav > * {
  background-color: #ffcc00;
}

#about {
  top: 5px;
}

#contact {
  top: 30px;
}

#explore {
  top: 55px;
}

/*centered xy content*/
.container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainlogo {
  width: 30%;
  filter: drop-shadow(0.05rem 0.05rem 0.1rem white);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0 30px 0 30px;
  padding: 15px;
}

#logo {
  width: 100px;
  padding: 10px;
  position: fixed;
}

.haley {
  text-align: end;
  width: 30%;
  font-size: 1.5em;
}

/*page body containers*/
.bodybox {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0 30px 0 30px;
  padding: 15px;
}

.bodybox#construction {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

.bodybox#aboutmain {
  text-align: justify;
  padding: 15px;
  font-size: large;
}

/*text modifiers*/
p#center {
  text-align: center;
}

p/*:first-of-type*/::first-letter {
  font-size: 133%;
}

/*mailchimp email signup*/
/* 
  .required-email { 
  width: 30vw;
  border: none;
  border-bottom: 1px solid #333366;
  background-color: #f2f2f2;
  color: #333366;
  font-family: "Garamond", serif;
}

.submit-button {
  border: 1px solid #333366;
  cursor: pointer;
  font-family: "Garamond", serif;
  color: #333366;
  width: 125px;
}

#mc_embed_signup {
  font: 14px Garamond, serif;
  display: flex;
  text-align: left;
  position: fixed;
  bottom: 5px;
  left: 10px;
}
*/

/*instagram footer*/
button {
  background-color: grey;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 0px;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  opacity: 0.75;
}

.insta {
  width: 30px;
  height: 30px;
  opacity: 1;
}

/*media sizing start*/
@media screen and (max-width: 1250px) {
  body {
    background-color: #cccccc;
    background-image: url("/mainbg1080.jpg"), url("/mainbg1080_180rotate.jpg");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: right top, left bottom;
    background-size: contain, contain;
    transition: all 0.5s ease;
    color: #333366;
    font-family: "Garamond", serif;
    margin: 0;
  }
}

/*switch to displayed nav, eliminate touchscreen hover, single bg displays*/
@media screen and (max-width: 1000px), (any-hover: none) {
  body {
    background-position: top center;
    background-size: 100vw;
    transition: all 0.5s ease;
  }
  .mainlogo {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0 30px 0 30px;
    padding: 5px;
  }
  .mainlogo,
  .haley {
    width: 60%;
    font-size: 1.2rem;
    transition: all 0.5s ease;
  }
  #sidenav a {
    position: fixed;
    right: 0px;
    padding: 0 0 2px 10px;
    width: 65px;
    text-decoration: none;
    color: #333366;
    border-radius: 5px 0 0 0;
  }
  #sidenav a:hover {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-position: top right;
    background-size: auto 850px;
    transition: all 0.5s ease;
  }
}

/* #mc_embed_signup {
    width: 50vw;
  }
  .required-email,
  .submit-button {
    width: 300px;
    margin-top: 3px;
  }
  .submit-button {
    width: 150px;
  }
  */
