html {
  height: 100%;
}
body {
  background-color: #cccccc;
  background-image: url("/mainbg1080.jpg"), url("/mainbg1080_180rotate.jpg");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: right top, left bottom;
  background-size: auto 850px, auto 850px;
  color: #333366;
  font-family: "Garamond", serif;
  /* height: 100vh; */
  margin: 0;
}

body#no-background {
  background-image: none;
}

#sidenav a {
  position: fixed;
  right: -100px;
  transition: 0.3s;
  padding: 0 0 2px 20px;
  width: 100px;
  text-decoration: none;
  color: #333366;
  border-radius: 5px 0 0 0;
}

#sidenav a:hover {
  right: 0;
}

/* #home {
  top: 5px;
  background-color: #ffcc00;
  padding: 0 14px 2px 6px !important;
} */

#about {
  top: 5px;
  background-color: #ffcc00;
}

#contact {
  top: 30px;
  background-color: #ffcc00;
}

#projects {
  top: 55px;
  background-color: #ffcc00;
}

/* .topnav {
  background-color: #ffcc00;
  padding: 0px 50px 2px 50px;
  position: fixed;
  right: 0;
  top: 5px;
}

.topnav a{
  color: #333366;
  text-decoration: none;
  text-align: justify;
  display: inline;
}

.topnav a:hover{
  color: white;
}

.topnav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav-li{ 
  display: inline;
} */

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainlogo {
  width: 30%;
  filter: drop-shadow(.05rem .05rem .1rem white)
}

.haley {
  text-align: end;
  width: 30%;
  font-size: 1.5em;
}

#construction {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

/* 
  .required-email { 
  width: 30vw;
  border: none;
  border-bottom: 1px solid #333366;
  background-color: #f2f2f2;
  color: #333366;
  font-family: "Garamond", serif;
}

.submit-button {
  border: 1px solid #333366;
  cursor: pointer;
  font-family: "Garamond", serif;
  color: #333366;
  width: 125px;
}

#mc_embed_signup {
  font: 14px Garamond, serif;
  display: flex;
  text-align: left;
  position: fixed;
  bottom: 5px;
  left: 10px;
}
*/

button {
  background-color: grey;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 0px;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  opacity: .75;
}

.insta {
  width: 30px;
  height: 30px;
  opacity: 1;
}


@media screen and (max-width: 1250px) {
  body {
  background-color: #cccccc;
  background-image: url("/mainbg1080.jpg");
  background-position: top center;
  transition: all 0.5s ease;
  }
  }

@media screen and ((max-width: 800px) or (pointer:coarse)) {
  body{
    background-position: top center;
    background-size: 100vw;
    transition: all 0.5s ease;
  }
  .mainlogo, .haley {
    width: 60%;
    font-size: 1.2rem;
    transition: all 0.5s ease;}
  #sidenav a {
      position: fixed;
      right: 0px;
      padding: 0 0 2px 10px;
      width: 70px;
      text-decoration: none;
      color: #333366;
      border-radius: 5px 0 0 0;
    }
  }

  @media screen and (max-width: 500px) {
    body{
      background-position: top center;
      background-size: auto 850px;
      transition: all 0.5s ease;
    }
  }
  
  /* #mc_embed_signup {
    width: 50vw;
  }
  .required-email,
  .submit-button {
    width: 300px;
    margin-top: 3px;
  }
  .submit-button {
    width: 150px;
  }
  */
}
