body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-color: #ccc;
    font-family: 'Garamond', serif;
    font-size: auto;
}


/*contains entire layout to achieve vertical spacing*/
.flexcontainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
}


/*contains logo and nav aligned left & right*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}

.logo {
    height: 4.26rem;
}

/*contains flex nav*/
nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .3rem;
    list-style-type: none;
    margin: 0 -0.5rem 0 0; /*counteracts header margin*/
    padding: 0;
}

/*nav side tabs partially hidden offscreen*/
nav ul li a{
    color: #333366;
    text-decoration: none;
    display: block;
    background-color: #ffcc00;
    padding: 1px 20px 1px 20px;
    border-radius: .5rem 0 0 0;
    width: 50px;
    transform: translateX(70px); /*moves nav mostly offscreen - pixels bc I'm dumb and don't understand rem*/
}

/*nav side tabs display on hover*/
nav ul li a:hover{
    transform: none;
    transition: all 0.3s ease;
}


/*contains two main boxes, set to control majority of page*/
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

/*left main body box*/
.left{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0 0 0 1.5rem;
    padding: 1rem;
    flex-basis: 30%;
    min-height: 50%; /*define bc flex is row*/
}

/*right main body box*/
.right{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0 1.5rem 0 0;
    padding: 1rem;
    flex-basis: 30%; /*orientation is row, this controls horizontal width*/
    min-height: 50%; /*orientation is row, this controls vertical height*/
}


/*contains social media aligned right*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: .5rem;
}

.instagram {
    width: 1.875rem;
    height: 1.875rem; /*gets rid of weird margin when applied to a, otherwise resizes img*/
}


/*eliminates hover on touchscreens, displays nav as screen gets smaller*/
@media screen and (max-width: 1000px), (any-hover:none){
    nav ul li a{
        transform: none; /*keeps nav aligned on screen*/
    }
    nav ul li a:hover{
        width: 100px; /*widens on hover if not touchscreen*/
        font-weight: bold;
    } 
}

/*switches to all column display on small screen, resizes main body boxes larger*/
@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
    .left, .right {
        width: 80%; /*orientation is column now, this controls horizontal width*/
        min-height: auto; /*eliminates control from code above*/
        flex-basis: 50%; /*orientation is column now, this controls vertical height*/
    }
    .left {
        border-radius: 0 1.5rem 0 0;
    }
    .right {
        border-radius: 0 0 0 1.5rem;
    }